/* Descriptions Style */
.descriptionLayout {
  width: 100%;
  background-color: #00979c;
  padding: 8vh 0vw;
  margin: 0;
  color: white;
}

  
.title{
  color: #fff;
  font-size: 2.8rem;
}

.descriptionContent {
  font-size: 1.5rem;
  /* text-indent: 2rem; */
  padding: 1.5vh 1.2vw;
  line-height: 2.3rem;
}

@media screen and (min-width: 768px) {
  .descriptionContent {
      font-size: 1.6rem;
      line-height: 2.4rem;
  }
}

@media screen and (min-width: 992px) {
  .descriptionContent {
      font-size: 1.7rem;
      line-height: 2.5rem;
  }
}

