.imageLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10vh 5vw;
    background-color: #fff;
}

.imageContainer{
    padding: 3vh 0;
}

.title{
    color: #2c3e50;
    font-size: 2.4rem;
}